<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="margin: 0; padding: 5px;">

  <div style="margin-top: 5px;">
    <h2 style="font-family: 'Cooper Black'; color: #380E4B;">Simply, Me </h2>
    <p>Welcome to Simply, Me — your personal journal to <br>
      capture thoughts, moods, and moments in your own words.</p>
  </div>

  <h1 style="text-align: center; margin-top: 5px; margin-bottom: 10px;">🔐 Login</h1>
  <form method="post" class="form-box">
    <div class="input-group">
      <input type="text" id="username" placeholder="Username" name="username" required autocomplete="off" required >
    </div>

    <div class="input-group">
      <input type="password" id="password" placeholder="Password" name="password" required autocomplete="new-password" required>
    </div>

    <button type="submit" style="margin-right:20px; background-color: #A577B8">Login</button>
    <p style="font-size: 1.3rem;">Don't have an account? <a href="/register">Register</a></p>
  </form>
</body>
</html>
