<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1 style="text-align: center;">🔐 Login</h1>
  <form method="post" class="form-box">
    <div class="input-group">
      <input type="text" id="username" placeholder="Username" name="username" required autocomplete="off" required >
    </div>

    <div class="input-group">
      <input type="password" id="password" placeholder="Password" name="password" required autocomplete="new-password" required>
    </div>

    <button type="submit" style="margin-right:20px; background-color: #A577B8">Login</button>
    <p style="font-size: 1.3rem;">Don't have an account? <a href="/register">Register</a></p>
  </form>
</body>
</html>
